<div class="container" style="padding-top: 120px;">

    <h3>Contactenos</h3>
<div class="row">
    <div class="col-6">
        <form [formGroup]="contactusForm">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="firstname" placeholder="Nombre">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="lastname" placeholder="Apellido">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="email" placeholder="Email">
            </div>
            <div class="form-group">
                <textarea type="text" class="form-control" formControlName="message" rows="3" placeholder="Mensaje"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
    <div class="col-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.0208068856546!2d-77.02049448578681!3d-12.110728046389587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c98387775609%3A0x288587ed9f68bdbc!2sAv.%20Rep%C3%BAblica%20de%20Panam%C3%A1%204577%2C%20Cercado%20de%20Lima%2015048!5e0!3m2!1sen!2spe!4v1629339426514!5m2!1sen!2spe" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
</div>